# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter
*.ipynb_checkpoints

# ML models
*.pkl
*.keras
*.h5
*.pt
*.pth

# Data files
*.csv
data/

# Logs
*.log

# Node (frontend)
node_modules/

# OS files
.DS_Store
Thumbs.db