# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter
*.ipynb_checkpoints

# ML models
# (Allowing trained models for deployment)
# *.pkl
# *.keras

# Data files
data/processed_data.csv
data/Building_59_clean_data/

# Logs
*.log

# Node (frontend)
node_modules/

# OS files
.DS_Store
Thumbs.db